RewriteEngine On

# Simple Angular Router fallback - for /public_html/groupe4/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/groupe4/api
RewriteRule ^(.*)$ /groupe4/index.html [L]

# Basic security
<Files ".*">
    Order Deny,Allow
    Deny From All
</Files>